<h3>Courses</h3>
 <div style="display: flex; justify-content: flex-end">
            <a routerLink="create" class="btn btn-success" routerLinkActive="active">
                Create Course
              </a>
</div>

<table class="table table-hover">
  <thead>
  <tr>
      <td>User Name</td>
      <td>Course Title</td>
      <td>Course Description</td>
      <td>Category</td>
      <td>Rating</td>
      <td>Tenant Id</td>
      <td>Fee</td>
      <td>Short Text</td>
      <td>Instructions</td>
      <td colspan="4" style="align-content: center; text-align: center;">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let Course of courses">
          <td>{{ Course.user_name }}</td>
          <td>{{ Course.course_title }}</td>
          <td>{{ Course.course_desc }}</td>
          <td>{{ Course.category }}</td>
          <td>{{ Course.course_rating }}</td>
          <td>{{ Course.tenantid }}</td>
          <td>{{ Course.fee }}</td>
          <td>{{ Course.short_text }}</td>
          <td>{{ Course.instructions }}</td>
          <td><a [routerLink]="['edit', Course._id]" class="btn btn-primary">Edit</a></td>
          <td><a (click) = "deleteCourse(Course._id)" class="btn btn-primary">Delete</a></td>
          <td><a [routerLink]="['upload', Course._id]" class="btn btn-primary" routerLinkActive="active">
                Upload
          </a></td>
          <td><a [routerLink]="['video', Course._id]" class="btn btn-primary" routerLinkActive="active">
                Watch
          </a></td></tr>
  </tbody>
</table>