<!--The content below is only a placeholder and can be replaced.-->
<!--
<h1>
  {{title}}
</h1>

<mat-form-field>
  <input matInput placeholder="Simple Input" [(ngModel)]="title">
</mat-form-field>

<mat-icon>home</mat-icon>

<button mat-raised-button>I'm a button</button>

<mat-form-field>
  <mat-select placeholder="I'm a select" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let item of items" [value]="item.value">
      {{item.view}}
    </mat-option>
  </mat-select>
</mat-form-field>
-->
<!--3 tabs-->
<!-- Container #1 (see wireframe) -->
<div id="top-bar" class="container">
  <div class="row">
    <div class="span4">
      <form method="POST" class="search_form">
        <input type="text" class="input-block-level search-query" Placeholder="What do you want to learn ? ">
      </form>
    </div>
    <div class="span8">
      <div class="account pull-right">
        <ul class="user-menu">
          <li *ngIf="!signedIn" ><a (click)="onLoginClick()">Login</a></li>
          <li *ngIf="signedIn">Logout</li>
          <li><i *ngIf="signedIn" class="fa fa-users"></i>
            {{useremail}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="wrapper" class="container">
  <ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
  <section class="navbar main-menu">
    <div class="navbar-inner main-menu">
      <a href="index.html" class="logo pull-left"><img src="assets/sb_logo.png" height="83%" width="83%"/></a>
      <nav id="menu" class="pull-right">
        <ul>
          <li>
            <a routerLink="myCourses" *ngIf="signedIn">My Courses</a>
          </li>
          <!---<li><a href="">All Courses</a></li>-->
          <li class="nav-item">
            <a *ngIf="isAdmin" routerLink="course" class="nav-link" routerLinkActive="active">
              Manage Courses
            </a>
          </li> 
          <!--<li><a *ngIf="signedIn" routerLink="chat" class="nav-link" routerLinkActive="active">Buddy Chat</a>-->
          <li><a href="" routerLink="faq/chatbot" class="nav-link" routerLinkActive="active" target="_blank">Buddy Bot</a>

          </li>
          <li><a *ngIf="signedIn" href="" routerLink="leaderboard" class="nav-link" routerLinkActive="active"> Leaderboard</a></li>
         
        </ul>
      </nav>
    </div>
  </section>
  </div>
  <div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <section id="footer-bar">
    <div class="row">
      <div class="span3">
        <h4>Navigation</h4>
        <ul class="nav">
          <li><a href="javascript:void(0)">About Us</a></li>
          <li><a href="javascript:void(0)">Contact Us</a></li>
          <li><a href="https://chatbot.hellotars.com/conv/r1R6oW/" target="_blank">Feedback Bot</a></li>
        </ul>
      </div>
      <div class="span4">
        <h4></h4>
        <br/>
        <br/>
        <ul class="nav">
          <li><a href="javascript:void(0)">Blogs</a></li>
          <li><a href="javascript:void(0)">Newsletter</a></li>
        </ul>
      </div>
      <div class="span5">
        <br/>
        <p>An academic project developed for SJSU CMPE 295A/CMPE 295B</p>
        <p> By</p>
        <p>Gyanesh, Madhu, Manoj, Shalini & Yamini</p>
      </div>
    </div>
  </section>
  <section id="copyright">
    <span>Copyright Team - StudyBuddy</span>
  </section>
</div>