<!--The content below is only a placeholder and can be replaced.-->
<!--
<h1>
  {{title}}
</h1>

<mat-form-field>
  <input matInput placeholder="Simple Input" [(ngModel)]="title">
</mat-form-field>

<mat-icon>home</mat-icon>

<button mat-raised-button>I'm a button</button>

<mat-form-field>
  <mat-select placeholder="I'm a select" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let item of items" [value]="item.value">
      {{item.view}}
    </mat-option>
  </mat-select>
</mat-form-field>
-->
<!--3 tabs-->
<!-- Container #1 (see wireframe) -->

<mat-toolbar layout="row" >
  <h1>Study Buddy</h1>
</mat-toolbar>

<!-- Container #2 -->
<div flex layout="row">
    <app-playbackcourse></app-playbackcourse>
    <app-uploadcourse></app-uploadcourse>
</div>


<router-outlet></router-outlet>
