
<!-- Container #3 -->
<!--
<mat-sidenav-container class="example-container">
  <mat-sidenav id="sbsidename" mode="side" opened role="navigation" name="fieldName" ngDefaultControl [(ngModel)]="selectedValue">
    <mat-option *ngFor="let item of videos" [value]="item._id">
      {{item.VideoTitle}}
    </mat-option>
    <a *ngFor="let item of videos" [routerLink]="['video', item._id]" class="btn btn-primary" routerLinkActive="active">
        {{item.VideoTitle}}
          </a>
  </mat-sidenav>
  <mat-sidenav-content class="midcontent">
    <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="468"
        data-setup='{}'>
          <source src="https://didxxojhwcpu7.cloudfront.net/outputfiles/hls/sample3.m3u8" type="application/x-mpegURL">
        </video>
  </mat-sidenav-content>
</mat-sidenav-container>
 s
 -->
  <!-- [routerLink]="['/course/video/'+selectedcourseid+'/play',  item.VideoTitle.slice(0, item.VideoTitle.lastIndexOf( '.' ))]"  -->
  <section class="header_text sub">
      <!--<img class="pageBanner" src="assets/banner5_small.png" height="10%"  width="100%" alt="New products" >-->
        <h4><span>Now Playing - {{selectedvideo}}</span></h4>
  </section>

  <section class="main-content" style="padding-bottom: 30px">
				
      <div class="row">		
          <div class="span3 col">
              <div class="block">	
                <ul class="nav nav-list">
                  <li class="nav-header">Course Video</li>
                  <li *ngFor="let item of courseusernested.video_details">
                    <a routerLinkActive="active" (click)="exit(['/course/video/'+selectedcourseid+'/play/'+  item.video_title.slice(0, item.video_title.lastIndexOf( '.' ))])" >
                      {{item.video_title.slice(0, item.video_title.lastIndexOf( '.' ))}}
                    </a>
                    </li>
                </ul>
                
              </div>
            </div>				
        <div class="span9">								
            <video id="my_video_1" class="video-js vjs-fluid vjs-big-play-centered" style="background-color:white;" 
            controls preload="metadata" width="640" height="468" tag="gtag" data-setup='{}' 
            (ended)="onEnded($event)" (timeupdate)="onTimeUpdate($event)" (pause)="onPause($event)">
                  <source [src]="['https://didxxojhwcpu7.cloudfront.net/outputfiles/hls/'+ selectedvideo +'.m3u8']" type="application/x-mpegURL" >
                </video>				
         
        </div>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138249129-1"></script>
        <script>
          videojs('my_video_1', {}, function() {
            console.log("inside gtag");
            this.gtag();
          });
        </script>
    
       
      </div>
    </section> 
