
<!-- Container #3 -->
<!--
<mat-sidenav-container class="example-container">
  <mat-sidenav id="sbsidename" mode="side" opened role="navigation" name="fieldName" ngDefaultControl [(ngModel)]="selectedValue">
    <mat-option *ngFor="let item of videos" [value]="item._id">
      {{item.VideoTitle}}
    </mat-option>
    <a *ngFor="let item of videos" [routerLink]="['video', item._id]" class="btn btn-primary" routerLinkActive="active">
        {{item.VideoTitle}}
          </a>
  </mat-sidenav>
  <mat-sidenav-content class="midcontent">
    <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="468"
        data-setup='{}'>
          <source src="https://didxxojhwcpu7.cloudfront.net/outputfiles/hls/sample3.m3u8" type="application/x-mpegURL">
        </video>
  </mat-sidenav-content>
</mat-sidenav-container>
 s
 -->
  <!-- [routerLink]="['/course/video/'+selectedcourseid+'/play',  item.VideoTitle.slice(0, item.VideoTitle.lastIndexOf( '.' ))]"  -->
 <div class="sidenav">
    <a *ngFor="let item of videos" routerLinkActive="active" (click)="exit(['/course/video/'+selectedcourseid+'/play/'+  item.VideoTitle.slice(0, item.VideoTitle.lastIndexOf( '.' ))])" >
        {{item.VideoTitle.slice(0, item.VideoTitle.lastIndexOf( '.' ))}}
    </a>
  </div>
  
  <div class="main">
    
    <h2>Play - {{selectedvideo}}</h2>
    <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="468"
        data-setup='{}'>
          <source [src]="['https://didxxojhwcpu7.cloudfront.net/outputfiles/hls/'+ selectedvideo +'.m3u8']" type="application/x-mpegURL" >
        </video>
  </div>
