<section class="main-content">
				
    <div class="row">						
      <div class="span9">								
        <ul class="thumbnails listing-products">
          <li class="span3">
            <div class="product-box">
              <span class="sale_tag"></span>												
              <a href=""><img alt="" src="assets/cyber-security.jpg"></a><br/>
                                <a href="course/video/:id" class="title">Started on 14 Feb 2019</a><br/>
              <a href="l" class="category">Complete 40%</a><br/>
                                
            </div>
          </li>       
          <li class="span3">
            <div class="product-box">												
              <a href="product_detail.html"><img alt="" src="assets/cyber-security.jpg"></a><br/>
              <a href="product_detail.html" class="title">Started on 14 Jan 2019</a><br/>
              <a href="product_detail.html" class="category">Complete 80%</a><br/>
            </div>
          </li>
          
        </ul>								
        <hr>
        <div class="pagination pagination-small pagination-centered">
          <ul>
            <li><a href="javascript:void(0)">Prev</a></li>
            <li class="disabled"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">Next</a></li>
          </ul>
        </div>
      </div>
      <div class="span3 col">
        <div class="block">	
          <ul class="nav nav-list">
            <li class="nav-header">Course by Status</li>
            <li class="active"><a href="javascript:void(0)">In-progress</a></li>
            <li><a href="javascript:void(0)">Complete</a></li>
            
          </ul>
          
        </div>
      </div>
    </div>
  </section> 
