<section class="header_text sub">
    <!--<img class="pageBanner" src="assets/banner5_small.png" height="10%"  width="100%" alt="New products" >-->
      <h4><span>My Courses</span></h4>
</section>

<section class="main-content">
				
  <div class="row">		
      <div class="span3 col">
          <div class="block">	
            <ul class="nav nav-list">
              <li class="nav-header">Course by Status</li>
              <li class="active"><a href="javascript:void(0)">In-progress</a></li>
              <li><a href="javascript:void(0)">Complete</a></li>
              
            </ul>
            
          </div>
        </div>				
    <div class="span9">								
      <ul class="thumbnails listing-products">
          <li class="span3" *ngFor="let cun of courseUserNested">
              <div class="product-box">
                  <span class="sale_tag"></span> 
                  <a [routerLink]="['/course/video',cun._id]">
                    <img src="assets/{{cun.course_title}}" alt="{{ cun.course_title }}" />
                    <br/>
                    <b>{{ cun.course_title }}</b>
                    <p>Registered on {{ cun.registered_on|date:'MM/dd/yyyy' }}</p>
                   
                    <mat-progress-bar mode="determinate" value="{{calcCourseProgress(cun.course_id)}}"></mat-progress-bar>
                    
                    <p>Complete {{ calcCourseProgress(cun.course_id) }}%</p>
                  </a>
                </div>
          </li>
      </ul>								
      <hr>
      <div class="pagination pagination-small pagination-centered">
        <ul>
          <li><a href="javascript:void(0)">Prev</a></li>
          <li class="disabled"><a href="javascript:void(0)">1</a></li>
          <li><a href="javascript:void(0)">Next</a></li>
        </ul>
      </div>
    </div>
   
  </div>
</section> 