<h3>Add Course</h3>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">User Name</label>
        <input type="text" class="form-control" formControlName="user_name" #user_name />
      </div>
      <div *ngIf="angForm.controls['user_name'].invalid && (angForm.controls['user_name'].dirty || angForm.controls['user_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['user_name'].errors.required">
          User Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Course Title </label>
        <input type="text" class="form-control" formControlName="course_title" #course_title />
      </div>
      <div *ngIf="angForm.controls['course_title'].invalid && (angForm.controls['course_title'].dirty || angForm.controls['course_title'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['course_title'].errors.required">
          Course Title is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Course Description </label>
        <input type="text" class="form-control" formControlName="course_desc" #course_desc />
      </div>
      <div *ngIf="angForm.controls['course_desc'].invalid && (angForm.controls['course_desc'].dirty || angForm.controls['course_desc'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['course_desc'].errors.required">
          Course Description is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Category</label>
        <input type="text" class="form-control" formControlName="category" #category />
      </div>
      <div *ngIf="angForm.controls['category'].invalid && (angForm.controls['category'].dirty || angForm.controls['category'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['category'].errors.required">
          Course Title is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Course rating </label>
        <input type="text" class="form-control" formControlName="course_rating" #course_rating />
      </div>
      <div *ngIf="angForm.controls['course_rating'].invalid && (angForm.controls['course_rating'].dirty || angForm.controls['course_rating'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['course_rating'].errors.required">
          Course Rating is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addCourse(user_name.value, course_title.value, course_desc.value, category.value, course_rating.value)"
         type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add Course</button>
      </div>
    </form>
  </div>
</div>