<!-- <p>
  leaderboard works!
</p> -->
<!-- <table class="table table-hover">
		<thead>
		<tr>
				<td>User Name</td>
				<td>Learning Velocity</td>
		</tr>
		</thead>	
		<tbody>
				<tr *ngFor="let leaderboard of leaderboards">
						<td>{{ leaderboard["_id"].user_name }}</td>
						<td>{{ getVelocity(leaderboard["_id"].started_on,leaderboard.max_video_date,leaderboard.totalProgress) }}</td>
				</tr>
		</tbody>
	</table> -->

<div class="card">
	<section class="card-info card-section">
		<i class="ion-navicon menu"></i>
		<i class="ion-ios-search search"></i>
		
		<div class="avatar row">
		</div>
		
		<section class="user row">
			<h1 class="user-header">
				{{getUser()}}
				<h2 class="sub header">
					{{getTotalProgress()}} mins
				</h2>
			</h1>
		</section>
		
		<section class="statistics">
			<article class="statistic">
				<h4 class="statistic-title">
					Rank
				</h4>
				<h3 class="statistic-value">
					{{getRank()}}
				</h3>
			</article>
			
			<article class="statistic">
				<h4 class="statistic-title">
					Learning Velocity
				</h4>
				<h3 class="statistic-value">
						{{getUserVelocity()}}
				</h3>
			</article>
		</section>
		
		<div class="dial">
			<h2 class="dial-title">
				{{getLevel()}}
			</h2>
			<h3 class="dial-value">
				Level
			</h3>
		</div>
	</section>
	<section class="card-details card-section">
		
		<nav class="menu">
			<article class="menu-item menu-item-active">
				Top Learners
			</article>
			<article class="menu-item">
				Friends
			</article>
		</nav>

		<dl *ngFor="let leaderboard of leaderboards">	
				<dt>
					<article class="progress">
						<section class="progress-bar" style="width: 85%;"></section>
					</article>
				</dt>
				<dd>
					<div class="leaderboard-name">Name: {{ leaderboard["_id"].user_name }}</div>
					<div class="leaderboard-value">Learning Velocity: {{ getVelocity(leaderboard["_id"].user_name, leaderboard["_id"].started_on,leaderboard.max_video_date,leaderboard.totalProgress) }}</div>
					<!-- <div class="leaderboard-value">Total Progress: {{ leaderboard.totalProgress }}</div> -->
				</dd>
		</dl>
			
		<!-- <dl class="leaderboard">				
			<dt>
				<article class="progress">
				  <section class="progress-bar" style="width: 85%;"></section>
				</article>
			</dt>
			<dd>
				<div class="leaderboard-name">Bryan Smith</div>
				<div class="leaderboard-value">20.123</div>
			</dd>

		</dl> -->
	</section>
</div>
<!-- <app-userservice></app-userservice>
<app-ldrboard-list></app-ldrboard-list> -->
<!-- <br><br>
<button class="btn btn-primary" (click)="onSave()">Save Users</button>
<button class="btn btn-primary" (click)="onGet()">Get Users</button> -->